<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ams.mapper.ClubMapper">

<select id="listAll"  resultType="com.ams.entity.Club">
    select * from tbl_club where club_state!='删除'    
</select>
<select id="selectManagerClub"  resultType="com.ams.entity.Club">
    select * from tbl_club,tbl_club_members,tbl_user,tbl_club_type where president_flag=1 and tbl_club.ctid=tbl_club_type.ctid and tbl_club.cid=tbl_club_members.cid and tbl_club_members.uid=tbl_user.uid and tbl_user.uid=#{uid} and club_state!='删除'
</select>

<select id="listUser"  resultType="com.ams.entity.User">
   select * from tbl_club,tbl_club_members,tbl_user where tbl_club.cid=tbl_club_members.cid and tbl_club_members.uid=tbl_user.uid and tbl_club.cid=#{cid} and president_flag=0 and mem_state='在社' and tbl_club_members.uid not in(select uid from tbl_club_members where president_flag=1)   
</select>

<select id="countByExample" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from tbl_club where club_state!='删除'
    <if test="str != null">
        and (cname like "%"#{str}"%")
    </if>
</select>

<select id="selectByExample" parameterType="map" resultType="com.ams.entity.Club">
    select * from tbl_club where club_state!='删除'
    <if test="str != null">
        and (cname like "%"#{str}"%")
    </if>
    limit ${offset},${limit}
</select>

<select id="countByDel" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from tbl_club where club_state='删除'
    <if test="str != null">
        and (cname like "%"#{str}"%")
    </if>
</select>

<select id="selectByDel" parameterType="map" resultType="com.ams.entity.Club">
    select * from tbl_club where club_state='删除'
    <if test="str != null">
        and (cname like "%"#{str}"%")
    </if>
    limit ${offset},${limit}
</select>

<select id="countRun" parameterType="map" resultType="java.lang.Integer">
    select count(*) from tbl_club where club_state='运行'
    <if test="str != null">
        and (cname like "%"#{str}"%")
    </if>
    <if test="ctid != 0">
        and ctid=#{ctid}
    </if>
</select>

<select id="selectRun" parameterType="map" resultType="com.ams.entity.Club">
    select * from tbl_club where club_state!='删除'
    <if test="str != null">
        and (cname like "%"#{str}"%")
    </if>
     <if test="ctid != 0">
        and ctid=#{ctid}
    </if>
    limit ${offset},${limit}
</select>

<select id="countByNew" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from tbl_club where club_state='成立待审'
    <if test="str != null">
        and (cname like "%"#{str}"%")
    </if>
</select>

<select id="selectByNew" parameterType="map" resultType="com.ams.entity.Club">
    select * from tbl_club where club_state='成立待审'
    <if test="str != null">
        and (cname like "%"#{str}"%")
    </if>
    limit ${offset},${limit}
</select>

<select id="countByModify" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from tbl_club where club_state='修改待审'
    <if test="str != null">
        and (cname like "%"#{str}"%")
    </if>
</select>

<select id="selectByModify" parameterType="map" resultType="com.ams.entity.Club">
    select * from tbl_club where club_state='修改待审'
    <if test="str != null">
        and (cname like "%"#{str}"%")
    </if>
    limit ${offset},${limit}
</select>

<select id="selectPresident"  resultType="com.ams.entity.User">
    select * from tbl_club,tbl_club_members,tbl_user where president_flag=1 and tbl_club.cid=tbl_club_members.cid and tbl_club_members.uid=tbl_user.uid and tbl_club.cid=#{cid}
</select>

<select id="selectUser"  resultType="com.ams.entity.User">
    select * from tbl_user where uid=#{uid}
</select>

<select id="selectByUid"  resultType="com.ams.entity.Club">
    select * from tbl_club_members,tbl_club,tbl_user,tbl_club_type where tbl_user.uid=tbl_club_members.uid and tbl_club_members.cid=tbl_club.cid and tbl_club_type.ctid=tbl_club.ctid and mem_state!='已退社' and tbl_user.uid=#{uid}    
</select>

<update id="updateByExample" parameterType="com.ams.entity.Club">
    update tbl_club
    <set>
        <if test="cname != null">
        cname = #{cname,jdbcType=VARCHAR},
        </if>
        <if test="club_contents != null">
        club_contents = #{club_contents,jdbcType=VARCHAR},
        </if>
        <if test="club_logo != null and club_logo!=''">
        club_logo = #{club_logo,jdbcType=VARCHAR},
        </if>
        <if test="club_state != null">
        club_state = #{club_state,jdbcType=VARCHAR},
        </if>
        <if test="ctid != null and ctid!=''">
        ctid = #{ctid,jdbcType=INTEGER}
        </if>
    </set>
    where cid=#{cid}
</update>

<update id="updateByDismiss" parameterType="java.lang.Integer">
    update tbl_club set club_state='删除' where cid=#{cid}
</update>

<update id="updateByDismiss2">
    update tbl_club_members set mem_state='删除' where cid=#{cid}
</update>

<update id="updatePresident" parameterType="java.lang.Integer">
    update tbl_club_members set president_flag=0 where cid=#{cid} and president_flag=1
</update>

<update id="updatePresident2" >
    update tbl_club_members set president_flag=1 where uid=#{uid} and cid=#{cid}
</update>

<insert id="insertByExample" useGeneratedKeys="true" keyProperty="cid" parameterType="com.ams.entity.Club">
    insert into tbl_club
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cname != null">
        cname,
      </if>
      <if test="club_contents != null">
        club_contents,
      </if>
       <if test="club_logo != null">
        club_logo,
      </if>
      <if test="club_state != null">
        club_state,
      </if>
      <if test="ctid != null and ctid!=''">
        ctid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="club_contents != null">
        #{club_contents,jdbcType=VARCHAR},
      </if>
      <if test="club_logo != null">
        #{club_logo,jdbcType=VARCHAR},
      </if>
      <if test="club_state != null">
        #{club_state,jdbcType=VARCHAR},
      </if>
      <if test="ctid != null and ctid!=''">
        #{ctid,jdbcType=INTEGER},
      </if>
    </trim>
</insert>

<insert id="insertByExample1" parameterType="com.ams.entity.Club">
    insert into tbl_club_members
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null and cid!=''">
        uid,
      </if>
      <if test="cid != null and uid!=''">
        cid,
      </if>
      <if test="president_flag != null and president_flag!=''">
        president_flag,
      </if>
      <if test="mem_state != null">
        mem_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null and uid!=''">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null and cid!=''">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="president_flag != null">
        #{president_flag,jdbcType=INTEGER},
      </if>
      <if test="mem_state != null">
        #{mem_state,jdbcType=VARCHAR},
      </if>
    </trim>
</insert>

<select id="listClub" parameterType="com.ams.entity.Club" resultType="com.ams.entity.Club">
    select * from tbl_club where club_state!='删除'
        <if test="cid!=null and cid!=''">
        and cid = #{cid,jdbcType=INTEGER}
        </if>
        <if test="cname != null">
        and cname = #{cname,jdbcType=VARCHAR}
        </if>
        <if test="club_contents != null">
        and club_contents = #{club_contents,jdbcType=VARCHAR}
        </if>
        <if test="club_state != null">
        and club_state = #{club_state,jdbcType=VARCHAR}
        </if>
</select>

<select id="selectOne" resultType="com.ams.dto.ClubDTO">
    select * from tbl_club,tbl_club_type where tbl_club.ctid=tbl_club_type.ctid and cid=#{cid}
</select>
<select id="modifyManagerClub"  resultType="com.ams.entity.Club">
    select * from tbl_club where cid=#{cid}
</select>
<update id="updateByExampleMember" parameterType="com.ams.entity.Club">
    update tbl_club_members set mem_state='删除' where cid=#{cid}
</update>

<update id="updateByExampleMemberBack" parameterType="com.ams.entity.Club">
    update tbl_club_members set mem_state='在社' where cid=#{cid}
</update>

<select id="countclubSum" resultType="java.lang.Integer">
      select count(*) from tbl_club where club_state!='成立待审' and club_state!='删除'
  </select>
  
  <select id="countnewclubSum" resultType="java.lang.Integer">
      select count(*) from tbl_club where club_state='成立待审'
  </select>
  
  <select id="countcheckClub" resultType="java.lang.Integer">
      select count(*) from tbl_club where club_state='成立待审' or club_state='修改待审'
  </select>

    <select id="countByClub" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from tbl_club,tbl_club_type WHERE tbl_club.ctid=tbl_club_type.ctid  and tbl_club_type.ctid=#{ctid}
        <if test="str != null">
            and (cname like "%"#{str}"%")
        </if>
    </select>
    <select id="selectByClub" parameterType="map" resultType="com.ams.entity.Club">
        select * from tbl_club,tbl_club_type WHERE tbl_club.ctid=tbl_club_type.ctid  and tbl_club_type.ctid=#{ctid}
        <if test="str != null">
            and (cname like "%"#{str}"%")
        </if>
        limit ${offset},${limit}
    </select>
</mapper>