<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ams.mapper.ClubMembersMapper">

<select id="listByUid"  resultType="com.ams.entity.ClubMembers">
    select * from tbl_club_members where uid=#{uid}   
</select>

<select id="countByMember" resultType="java.lang.Integer">
    select count(*) from tbl_club_members where cid=#{cid} and mem_state='在社' 
</select>

<select id="countByExample" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*) from tbl_club_members,tbl_user where tbl_club_members.uid=tbl_user.uid and mem_state!='已退社' and mem_state!='待审核' and mem_state!='审核失败' and cid=#{cid}
    <if test="str != null">
        and (name like "%"#{str}"%")
    </if>
</select>

<select id="selectByExample" parameterType="map" resultType="com.ams.entity.ClubMembers">
    select * from tbl_club_members,tbl_user where tbl_club_members.uid=tbl_user.uid and mem_state!='已退社' and mem_state!='待审核' and mem_state!='审核失败' and cid=#{cid}
    <if test="str != null">
        and (name like "%"#{str}"%")
    </if>
    limit ${offset},${limit}
</select>

<select id="countByCid" resultType="java.lang.Integer">
    select count(*) from tbl_club_members,tbl_user where tbl_club_members.uid=tbl_user.uid and mem_state='待审核' and cid=#{cid}
</select>

<select id="selectByCid" parameterType="map" resultType="com.ams.entity.ClubMembers">
    select * from tbl_club_members,tbl_user where tbl_club_members.uid=tbl_user.uid and mem_state='待审核' and cid=#{cid}
    limit ${offset},${limit}
</select>

<select id="countByStu" resultType="java.lang.Integer">
    select count(*) from tbl_club_members,tbl_user where tbl_club_members.uid=tbl_user.uid and mem_state='在社' and cid=#{cid}
</select>

<select id="selectByStu" parameterType="map" resultType="com.ams.entity.ClubMembers">
    select * from tbl_club_members,tbl_user where tbl_club_members.uid=tbl_user.uid and mem_state='在社' and cid=#{cid}
    limit ${offset},${limit}
</select>

<select id="selectTop"  resultType="com.ams.entity.Club">
    select count(*) as club_num,tbl_club_members.cid,cname,club_contents,club_logo from tbl_club_members,tbl_club where tbl_club_members.cid=tbl_club.cid and mem_state!='已退社' and club_state!='删除' group by tbl_club_members.cid order by club_num DESC
</select>

<select id="selectMemberTop"  resultType="com.ams.entity.Club">
    select count(*) as club_num,tbl_club_members.cid,cname,club_contents,club_logo,club_state,club_type_name from tbl_club_members,tbl_club,tbl_club_type where tbl_club_members.cid=tbl_club.cid and tbl_club.ctid=tbl_club_type.ctid and mem_state!='已退社' and club_state!='删除' group by tbl_club_members.cid order by club_num DESC
</select>

<update id="updateByExample" parameterType="com.ams.entity.ClubMembers">
    update tbl_club_members
    <set>
        <if test="uid!=null and uid!=''">
        uid = #{uid,jdbcType=INTEGER},
        </if>
        <if test="cid!=null and cid!=''">
        cid = #{cid,jdbcType=INTEGER},
        </if>
        <if test="president_flag!=null and president_flag!=''">
        president_flag = #{president_flag,jdbcType=INTEGER},
        </if>
        <if test="mem_state != null">
        mem_state = #{mem_state,jdbcType=VARCHAR},
        </if>
        <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
        </if>
    </set>
    where cmid=#{cmid}
</update>

<select id="selectOne" parameterType="map" resultType="com.ams.entity.ClubMembers">
    select * from tbl_club_members where cid=#{cid} and uid=#{uid}
</select>

<select id="selectApplyOne" parameterType="map" resultType="com.ams.entity.ClubMembers">
    select * from tbl_club_members where cid=#{cid} and uid=#{uid} and mem_state='待审核'
</select>

<select id="selectDeleteOne" parameterType="map" resultType="com.ams.entity.ClubMembers">
    select * from tbl_club_members where cid=#{cid} and uid=#{uid} and mem_state='在社'
</select>

<select id="selectExistOne" parameterType="map" resultType="com.ams.entity.ClubMembers">
    select * from tbl_club_members where cid=#{cid} and uid=#{uid}
</select>

<insert id="add" parameterType="com.ams.entity.ClubMembers">
    insert into tbl_club_members (cid,uid,president_flag,mem_state)
    values (#{cid,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR},"0","在社")
</insert>

<insert id="addstu" parameterType="com.ams.entity.ClubMembers">
    insert into tbl_club_members (cid,uid,president_flag,mem_state,reason)
    values (#{cid,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR},"0","待审核", #{reason,jdbcType=VARCHAR})
</insert>

<insert id="addApply" parameterType="com.ams.entity.ClubMembers">
    insert into tbl_club_members (cid,uid,president_flag,mem_state,reason)
    values (#{cid,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR},"0","待审核", #{reason,jdbcType=VARCHAR})
</insert>

<insert id="addclub" parameterType="com.ams.entity.ClubMembers">
    insert into tbl_club_members (cid,uid,president_flag,mem_state)
    values (#{cid,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR},"1","在社")
</insert>

<insert id="insertByExample" parameterType="com.ams.entity.ClubMembers">
    insert into tbl_club_members
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null and cid!=''">
        uid,
      </if>
      <if test="cid != null and uid!=''">
        cid,
      </if>
      <if test="president_flag != null and president_flag!=''">
        president_flag,
      </if>
      <if test="mem_state != null">
        mem_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null and uid!=''">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="cid != null and cid!=''">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="president_flag != null">
        #{president_flag,jdbcType=INTEGER},
      </if>
      <if test="mem_state != null">
        #{mem_state,jdbcType=VARCHAR},
      </if>
    </trim>
</insert>

<select id="selectReason"  resultType="com.ams.entity.ClubMembers">
    select * from tbl_club_members where uid=#{uid} and cid=#{cid} 
</select>

</mapper>