<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ams.mapper.NewsMapper">
	<select id="countByExample" parameterType="map" resultType="java.lang.Integer">
    select count(*) from tbl_news 
    <if test="type==1">
        ,tbl_club
    </if>
    <if test="type==2">
        ,tbl_user
    </if>
    where news_state=#{news_state}
    <if test="type==1">
        and tbl_club.cid=tbl_news.cid
    </if>
    <if test="type==2">
        and tbl_user.uid=tbl_news.uid
    </if>
    <if test="str != null and str!=''">
        and news_title like "%"#{str}"%"
    </if>
    <if test="news_type!=null and news_type!=''">
        and news_type = #{news_type}
    </if>
    </select>

<select id="selectByExample" parameterType="map" resultType="com.ams.entity.News">
    select * from tbl_news 
    <if test="type==1">
        ,tbl_club
    </if>
    <if test="type==2">
        ,tbl_user
    </if>
    where news_state=#{news_state}
    <if test="type==1">
        and tbl_club.cid=tbl_news.cid
    </if>
    <if test="type==2">
        and tbl_user.uid=tbl_news.uid
    </if>
    <if test="str != null and str!=''">
        and news_title like "%"#{str}"%"
    </if>
    <if test="news_type!=null and news_type!=''">
        and news_type = #{news_type}
    </if>
    limit ${offset},${limit}
</select>

<update id="updateByExample" parameterType="com.ams.entity.News">
    update tbl_news
    <set>
        <if test="uid!=null and uid!=''">
        uid = #{uid,jdbcType=INTEGER},
        </if>
        <if test="cid!=null and cid!=''">
        cid = #{cid,jdbcType=INTEGER},
        </if>
        <if test="news_title != null">
        news_title = #{news_title,jdbcType=VARCHAR},
        </if>
        <if test="news_contents != null">
        news_contents = #{news_contents,jdbcType=VARCHAR},
        </if>
        <if test="news_img != null and news_img!=''">
        news_img = #{news_img,jdbcType=VARCHAR},
        </if>
        <if test="news_type != null and news_type!=''">
        news_type = #{news_type,jdbcType=VARCHAR},
        </if>
        <if test="news_state != null">
        news_state = #{news_state,jdbcType=VARCHAR},
        </if>
        <if test="news_remark != null">
        news_remark = #{news_remark,jdbcType=VARCHAR},
        </if>
        <if test="news_time != null">
        news_time = #{news_time,jdbcType=VARCHAR},
        </if>
    </set>
    where newsid=#{newsid}
</update>

<insert id="insertByExample" parameterType="com.ams.entity.News">
    insert into tbl_news
    <trim prefix="(" suffix=")" suffixOverrides=",">
       <if test="uid!=null and uid!='' and uid>0">
        uid,
        </if>
        <if test="cid!=null and cid!=''">
        cid,
        </if>
        <if test="news_title != null">
        news_title,
        </if>
        <if test="news_contents != null">
        news_contents,
        </if>
        <if test="news_img != null and news_img!=''">
        news_img,
        </if>
        <if test="news_type != null and news_type!=''">
        news_type,
        </if>
        <if test="news_state != null">
        news_state,
        </if>
        <if test="news_remark != null">
        news_remark,
        </if>
        <if test="news_time != null">
        news_time,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null and cid!=''">
       #{cid,jdbcType=INTEGER},
      </if>
      <if test="uid != null and uid!='' and uid>0">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="news_title != null">
        #{news_title,jdbcType=VARCHAR},
      </if>
      <if test="news_contents != null">
        #{news_contents,jdbcType=VARCHAR},
      </if>
      <if test="news_img != null and news_img!=''">
        #{news_img,jdbcType=VARCHAR},
      </if>
      <if test="news_type != null and news_type!=''">
        #{news_type,jdbcType=VARCHAR},
      </if>
      <if test="news_state != null">
        #{news_state,jdbcType=VARCHAR},
      </if>
      <if test="news_remark != null">
        #{news_remark,jdbcType=VARCHAR},
      </if>
      <if test="news_time != null">
        #{news_time,jdbcType=VARCHAR},
      </if>
    </trim>
</insert>

<select id="selectOne" resultType="com.ams.dto.NewsDTO">
    select * from tbl_news
    <if test="type==1">
        ,tbl_user
    </if>
    <if test="type==2">
        ,tbl_club
    </if>
    where  newsid=#{newsid}
    <if test="type==1">
    and tbl_news.uid=tbl_user.uid
        
    </if>
    <if test="type==2">
        and tbl_news.cid=tbl_club.cid
    </if>
</select>

<select id="listNews"  parameterType="com.ams.entity.News" resultType="com.ams.entity.News">
    select * from tbl_News where  news_state!='已删除'
        <if test="newsid!=null and newsid!=''">
        and newsid = #{newsid,jdbcType=INTEGER}
        </if>
        <if test="cid!=null and cid!=''">
        and cid = #{cid,jdbcType=INTEGER}
        </if>
        <if test="uid!=null and uid!=''">
        and uid = #{uid,jdbcType=INTEGER}
        </if>
        <if test="news_state != null">
        and news_state = #{news_state,jdbcType=VARCHAR}
        </if>
        <if test="news_type != null">
        and news_type = #{news_type,jdbcType=VARCHAR}
        </if>  
</select>

<select id="countnewsSum" resultType="java.lang.Integer">
      select count(*) from tbl_news where news_state!='发布待审' and news_state!='已删除'
  </select>
  
  <select id="countnewnewsSum" resultType="java.lang.Integer">
      select count(*) from tbl_news where news_state='发布待审'
  </select>
  <select id="countcheckNews" resultType="java.lang.Integer">
      select count(*) from tbl_news where news_state='发布待审' or news_state='修改待审'
  </select>
  

</mapper>