<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ams.mapper.NoticeMapper">
	<select id="countByExample" parameterType="map" resultType="java.lang.Integer">
    select count(*) from tbl_notice
    where noti_state!="已删除"
    <if test="str!=null and str!=''">
        and noti_contents like "%"#{str}"%"
    </if>
    </select>

<select id="selectByExample" parameterType="map" resultType="com.ams.entity.Notice">
    select * from tbl_notice,tbl_club
    where tbl_notice.cid=tbl_club.cid and noti_state!="已删除"
    <if test="str!=null and str!=''">
        and noti_contents like "%"#{str}"%"
    </if>
    limit ${offset},${limit}
</select>

<update id="updateByExample" parameterType="com.ams.entity.Notice">
    update tbl_notice
    <set>
        <if test="cid!=null and cid!=''">
        cid = #{cid,jdbcType=INTEGER},
        </if>
        <if test="noti_contents != null">
        noti_contents = #{noti_contents,jdbcType=VARCHAR},
        </if>
        <if test="noti_state != null">
        noti_state = #{noti_state,jdbcType=VARCHAR},
        </if>
        <if test="noti_time != null">
        noti_time = #{noti_time,jdbcType=VARCHAR},
        </if>
    </set>
    where nid=#{nid}
</update>

<insert id="insertByExample" parameterType="com.ams.entity.Notice">
    insert into tbl_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
 
        <if test="cid!=null and cid!=''">
        cid,
        </if>
        <if test="noti_contents != null">
        noti_contents,
        </if>
        <if test="noti_state != null">
        noti_state,
        </if>
        <if test="noti_time != null">
        noti_time,
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cid != null and cid!=''">
       #{cid,jdbcType=INTEGER},
      </if>
      <if test="noti_contents != null">
        #{noti_contents,jdbcType=VARCHAR},
      </if>
      <if test="noti_state != null">
        #{noti_state,jdbcType=VARCHAR},
      </if>
      <if test="noti_time != null">
        #{noti_time,jdbcType=VARCHAR},
      </if>
    </trim>
</insert>

<select id="selectOne" resultType="com.ams.dto.NoticeDTO">
    select * from tbl_notice
    <if test="type==1">
        ,tbl_user
    </if>
    <if test="type==2">
        ,tbl_club
    </if>
    where  nid=#{nid}
    <if test="type==1">
    and tbl_notice.uid=tbl_user.uid
        
    </if>
    <if test="type==2">
        and tbl_notice.cid=tbl_club.cid
    </if>
</select>

<select id="listNotice"  parameterType="com.ams.entity.Notice" resultType="com.ams.entity.Notice">
    select * from tbl_Notice where  noti_state!='已删除'
        <if test="nid!=null and nid!=''">
        and nid = #{nid,jdbcType=INTEGER}
        </if>
        <if test="cid!=null and cid!=''">
        and cid = #{cid,jdbcType=INTEGER}
        </if>
        <if test="noti_state != null">
        and noti_state = #{noti_state,jdbcType=VARCHAR}
        </if> 
</select>

</mapper>