

<link rel="stylesheet" href="css/login.css" media="all">
<link rel="stylesheet" href="vendor/layui/css/layui.css" media="all">
<script src="vendor/layui/layui.js"></script>

<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

  <div class="layadmin-user-login-main">
    <div class="layadmin-user-login-box layadmin-user-login-header">
      <h2>AMS</h2>
      <p>zucc 社团后台管理系统</p>
    </div>
    <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
      <div class="layui-form-item">
        <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
        <input type="text" name="username" id="LAY-user-login-username" lay-verify="required" placeholder="工号" class="layui-input">
      </div>
      <div class="layui-form-item">
        <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
        <input type="password" name="password" id="LAY-user-login-password" lay-verify="required" placeholder="密码" class="layui-input">
      </div>
<!--       <div class="layui-form-item" style="margin-bottom: 20px;">
        <input type="checkbox" name="remember" lay-skin="primary" title="记住密码">
        <button data-method="confirmTrans" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-primary" style="margin-top: 7px;">忘记密码</button>
      </div> -->
      <div class="layui-form-item">
        <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="LAY-user-login-submit">登 入</button>
      </div>

    </div>
  </div>
  
  <div class="layui-trans layadmin-user-login-footer">
    
    <p>© 2018 <a href="http://www.layui.com/" target="_blank">AMS.com</a></p>

  </div>
  
  <!--<div class="ladmin-user-login-theme">
    <script type="text/html" template>
      <ul>
        <li data-theme=""><img src="{{ layui.setter.base }}style/res/bg-none.jpg"></li>
        <li data-theme="#03152A" style="background-color: #03152A;"></li>
        <li data-theme="#2E241B" style="background-color: #2E241B;"></li>
        <li data-theme="#50314F" style="background-color: #50314F;"></li>
        <li data-theme="#344058" style="background-color: #344058;"></li>
        <li data-theme="#20222A" style="background-color: #20222A;"></li>
      </ul>
    </script>
  </div>-->
  
</div>

<script>
layui.use(['form','layer'], function(){
	  var $ = layui.$
	  ,setter = layui.setter
	  ,form = layui.form
	  ,router = layui.router()
	  ,search = router.search;

	  form.render();

	  form.on('submit(LAY-user-login-submit)', function (data) {
	        $.ajax({
	            type: 'POST',
	            url: "login/admin",
	            data: {"emid": $("#LAY-user-login-username").val(), "pwd": $("#LAY-user-login-password").val()},
	            success: function (msg) { // 返回的RequestResult的json对象
	                var url = "";
	                if (msg > 0) {
	                    if (msg === 1) {          //超级管理员
	                        url = "admin-index";
	                    } else if (msg === 2) {   //管理员
	                        url = "admin-index"
	                    } 
	                    layer.msg('登陆成功，正在跳转......', {icon: 6});
	                    setTimeout(function () {
	                        window.location.href = url;
	                    }, 2000);
	                } else {
	                    layer.msg('账号或者密码错误', {icon: 5});
	                }
	            },
	        });
	        return false;
	    });	  

});
</script>