<link rel="stylesheet" href="vendor/layui/css/layui.css">
<script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.params.js"></script>
<script type="text/javascript" src="vendor/layui/layui.js"></script>
<body style="background: transparent url(img/PTS_Movie_Branding_Background.jpg)no-repeat 0 0;background-attachment: fixed;background-size: cover;">
<div class="layui-layout layui-layout-admin">
	<div class="layui-header" style="z-index:9999;position: relative;">

		<!-- 头部区域 -->
		<ul class="layui-nav" style="padding: 0 200px;">
			<div class="layui-logo" style="color:white;">AMS-stu</div>
			<li class="layui-nav-item">
				<a href="stu-index">首页</a>
			</li>
			<li class="layui-nav-item">
				<a href="#">社团</a>
				<dl class="layui-nav-child">
				    <dd>
						<a href="club-list">社团展示</a>
					</dd>
					<dd>
						<a href="club-build" id="nav-buildclub">创建社团</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="#">活动</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="activity-all-list">校内活动</a>
					</dd>
					<dd>
						<a href="activity-inner-list">社内活动</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="news-all-list">新闻</a>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">我的</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="club-mine">我的社团</a>
					</dd>
					<dd>
						<a href="notice-mine">我的公告</a>
					</dd>
					<dd>
						<a href="myAct">我的活动</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item" id="nav-manager">
				<a href="javascript:;">管理</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="manageClub">社团管理</a>
					</dd>
					<dd>
						<a href="manageNotice">公告管理</a>
					</dd>
					<dd>
						<a href="addNotice">发布公告</a>
					</dd>
					<dd>
						<a href="manageAct">活动管理</a>
					</dd>
					<dd>
						<a href="applyAct">申请活动</a>
					</dd>
		            <dd>
						<a href="managenews">新闻管理</a>
					</dd>
					<dd>
						<a href="addnews">发布新闻</a>
					</dd>
				</dl>
			 </li>
		</ul>

		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item layui-hide-xs" lay-unselect>
				<input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search/keywords=">
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;" id='username'>
					<img id="userlogo" class="layui-nav-img">
				</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="userinformation">基本资料</a>
					</dd>
					<dd>
						<a href="setPwd">修改密码</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:void(0);" onclick="loginout()">退出登录</a>
			</li>
		</ul>

	</div>

	<div class="layui-body" style="margin: 20px 300px 20px 100px;">
		<div style="padding: 15px; background-color: #F2F2F2; border-radius:25px;">
			<div class="layui-card">
				<div class="layui-card-header" id="tabletitle" style="font-size:20px;color:#1E9FFF;text-align:center;padding-top:10px;padding-bottom:10px;">活动信息修改</div>
				<div class="layui-card-body" style="text-align:center;">
					<form class="layui-form" lay-filter="layuiadmin-form-useradmin" style="margin: 0 auto;">
						<div class="layui-form-item" style="margin-top:20px;">
							<label class="layui-form-label">活动名称</label>
							<div class="layui-input-block">
								<input type="text" name="act_name" id="actname" lay-verify="required" placeholder="请输入活动名称" autocomplete="off" class="layui-input">
							</div>
						</div>
<div class="layui-form-item">
    <label class="layui-form-label">活动类型</label>
    <div class="layui-input-block">
        <select name="atid" id="atid" lay-verify="required"  lay-search="" >
        </select>
    </div>
  </div>
						<div class="layui-form-item">
                            <label class="layui-form-label">名额</label>
                            <div class="layui-input-block">
                                <input type="text" name="act_numberlimit" id="numberlimit" lay-verify="required" placeholder="请输入名额" autocomplete="off" class="layui-input">  
                             </div>
                        </div>
  <div class="layui-form-item">
    <label class="layui-form-label">场地</label>
    <div class="layui-input-block">
        <select name="fid" id="field" lay-verify="required"  lay-search="" >
        </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">面向群体</label>
    <div class="layui-input-block">
        <select name="act_type" id="mo_act_type"  lay-verify="required"  lay-search="" >
                  <option value="">请搜索或直接选择...</option>
                  <option value="全部" >全部</option>
                  <option value="社内">社内</option>
        </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">开始时间</label>
    <div class="layui-input-block">
        <input type="text" name="start_time" id="timechoose1" lay-verify="datetime" placeholder="请选择开始时间" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">结束时间</label>
    <div class="layui-input-block">
        <input type="text" id="timechoose2" name="end_time" lay-verify="datetime" placeholder="请选择结束时间" autocomplete="off" class="layui-input">

    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">负责人</label>
    <div class="layui-input-block">
        <select name="chargeuid" id="charge" lay-verify="required"  lay-search="" >
        </select>
    </div>
  </div>
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">活动内容</label>
							<div class="layui-input-block">
								<textarea name="act_contents" id="act_contents" required lay-verify="required" placeholder="请输入活动内容" class="layui-textarea"></textarea>
							</div>
						</div>

						<div class="layui-form-item" >
							<div class="layui-input-block" style="text-align: center;margin-top:20px;margin-left:30px;">
								<input type="button" lay-submit lay-filter="LAY-user-front-submit" value="提交" class="layui-btn layui-btn-normal">
								
							</div>
						</div>

					</form>
			<!-- 		<button  class="layui-btn layui-btn-primary" style="margin: 0 auto;"onclick="backto()">返回</button> -->
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script>
	layui.use(['laypage', 'layer', 'element', 'carousel', 'form','laydate','util'], function() {
		var laypage = layui.laypage,
			layer = layui.layer,
			element = layui.element,
			carousel = layui.carousel,
			form = layui.form,
			laydate=layui.laydate,
			util=layui.util;
			$ = layui.$;
		
		//固定块
		  util.fixbar({
		    bar1: '&#xe65c'
		    ,css: {right: 40, bottom: 30}
		    ,bgcolor: '#393D49'
		    ,click: function(type){
		      if(type === 'bar1'){
		    	  window.history.back(-1);
		      } 
		      if (type === 'top') {
	                layer.msg('返回顶部')
	          }
		    }
		  });
		//显示菜单栏用户信息
			$.ajax({
			    type: 'GET',
			    url: "login/getLoginUser",
			    success: function (data) { 
			    	if(data.type!="学生"){
			    		loginout();
			    	}
			    	$("#username").append(data.name);
			    	$("#userlogo").attr('src',data.user_logo);
			    }
			});
		//是否显示管理菜单
		$.ajax({
			    type: 'GET',
			    url: "login/president",
			    success: function (msg) { 
			        if(msg==0){
			        	$("#nav-manager").hide();
			        }
			        else{
			        	$("#nav-buildclub").hide();
			        }
			    }
			});
		//退出登录
		 loginout=function(){
			$.ajax({
 			    type: 'GET',
 			    url: "login/logout",
 			    success: function (msg) { 
 			        if(msg==1){
 			        	layer.msg('退出成功，正在跳转......', {icon: 6});
	                    setTimeout(function () {
	                        window.location.href = "stu-login";
	                    }, 2000);
 			        }
 			        else{
 			        	layer.msg('退出错误，请重试', {icon: 5});
 			        }
 			    }
 			});
		}
		//监听导航点击
		element.on('nav(demo)', function(elem) {
			//console.log(elem)
			layer.msg(elem.text());
		});
		//渲染时间选择器
		laydate.render({
		    elem: '#timechoose1'
		    ,type: 'datetime'
		  });
		  
		  laydate.render({
		    elem: '#timechoose2'
		    ,type: 'datetime'
		  });
		//动态加载下拉框选项
		var src='<option value="">请搜索或直接选择...</option>';
	      $.ajax({
	          url:'/field/list',
	          async:false,
	          dataType:'json',
	          success:function(data){
	                  $.each(data,function(index,item){
	                      src+="<option value='"+item.fid+"'>"+item.fname+"</option>";
	                  });  
	                  $('#field').html(src);
	                  
	                  form.render();
	          }
	      });
	      var src2='<option value="">请搜索或直接选择...</option>';
	      $.ajax({
	          url:'/activityType/list',
	          async:false,
	          dataType:'json',
	          success:function(data){
	                  $.each(data,function(index,item){
	                      src2+="<option value='"+item.atid+"'>"+item.act_type_name+"</option>";
	                  });  
	                  $('#atid').html(src2);
	                  
	                  form.render();
	          }
	      });
	      var src3='<option value="">请搜索或直接选择...</option>';
	      $.ajax({
	          url:'/student/list',
	          async:false,
	          dataType:'json',
	          success:function(data){
	                  $.each(data,function(index,item){
	                      src3+="<option value='"+item.uid+"'>"+item.sduid+item.name+"</option>";
	                  });  
	                  $('#charge').html(src3);
	                  form.render();
	          }
	      });
		var actid = $.query.get("actid");	//获取url路径中actid的值
		var type = $.query.get("type");
		if(type==2){
			$("#tabletitle").append("<div style='font-size:14px; color:#d2d2d2; margin-top:-10px;'>可修改内容后重新提交申请</div>")
		}
		if(type==3){
			$("#tabletitle").append("<div style='font-size:14px; color:#d2d2d2; margin-top:-10px;'>*提交修改申请后，活动会在已发布活动中消失，直到重新审核通过</div>")
		}
		$.ajax({            //动态加载表单数据
			   type: 'GET',
			   url: "activity/selectOne?actid="+actid,
			   async:false,
			   success: function (data) { 
				 $("#actname").val(data.act_name);
				 $("#numberlimit").val(data.act_numberlimit);
				 $("#timechoose1").val(data.start_time);
				 $("#timechoose2").val(data.end_time);
				 $("#act_contents").text(data.act_contents);
				 $('#field').val(data.fid); 
				 $('#charge').val(data.chargeuid);
				 $('#mo_act_type').val(data.act_type);
				 $('#atid').val(data.atid);
				 form.render();
			   },
			});
		//提交表单
		form.on("submit(LAY-user-front-submit)", function(e) {
			e.field.actid=actid;
			if(type==2){
				e.field.act_state="发布待审";
			}
			if(type==3){
				e.field.act_state="修改待审";
			}
			$.ajax({
	              type: 'POST',
	              url: "activity/update",
	              dataType: 'json',
	              contentType: 'application/json',
	              data: JSON.stringify(e.field),
	              success: function (msg) { 
	                  if (msg == 1) {
	                	  layer.msg("提交成功")
	                  } 
	                  else if(msg==-1){
	                	  layer.alert('该时段场地已被申请使用！');
	                  }
	                  else if(msg==-2){
	                	  layer.alert('活动人数超过了该场地最多容纳人数');
	                  }
	                  else {
	                      layer.msg('更新失败！请重试');
	                  }
	              },
	          });
		})
		backto=function(){
			window.location.href = "manageAct";
		}

	})
</script>