<link rel="stylesheet" href="vendor/layui/css/layui.css">
<script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.params.js"></script>
<script type="text/javascript" src="vendor/layui/layui.js"></script>
<body style="background: transparent url(img/PTS_Movie_Branding_Background.jpg)no-repeat 0 0;background-attachment: fixed;background-size: cover;">
<div class="layui-layout layui-layout-admin">
	<div class="layui-header" style="z-index:9999;position: relative;">

		<!-- 头部区域 -->
		<ul class="layui-nav" style="padding: 0 200px;">
			<div class="layui-logo" style="color:white;">AMS-stu</div>
			<li class="layui-nav-item">
				<a href="stu-index">首页</a>
			</li>
			<li class="layui-nav-item">
				<a href="#">社团</a>
				<dl class="layui-nav-child">
				    <dd>
						<a href="club-list">社团展示</a>
					</dd>
					<dd>
						<a href="club-build" id="nav-buildclub">创建社团</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="#">活动</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="activity-all-list">校内活动</a>
					</dd>
					<dd>
						<a href="activity-inner-list">社内活动</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="news-all-list">新闻</a>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">我的</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="club-mine">我的社团</a>
					</dd>
					<dd>
						<a href="notice-mine">我的公告</a>
					</dd>
					<dd>
						<a href="myAct">我的活动</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item" id="nav-manager">
				<a href="javascript:;">管理</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="manageClub">社团管理</a>
					</dd>
					<dd>
						<a href="manageNotice">公告管理</a>
					</dd>
					<dd>
						<a href="addNotice">发布公告</a>
					</dd>
					<dd>
						<a href="manageAct">活动管理</a>
					</dd>
					<dd>
						<a href="applyAct">申请活动</a>
					</dd>
		            <dd>
						<a href="managenews">新闻管理</a>
					</dd>
					<dd>
						<a href="addnews">发布新闻</a>
					</dd>
				</dl>
			 </li>
		</ul>

		<ul class="layui-nav layui-layout-right">
			<li class="layui-nav-item layui-hide-xs" lay-unselect>
				<input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search/keywords=">
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;" id='username'>
					<img id="userlogo" class="layui-nav-img">
				</a>
				<dl class="layui-nav-child">
					<dd>
						<a href="userinformation">基本资料</a>
					</dd>
					<dd>
						<a href="setPwd">修改密码</a>
					</dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:void(0);" onclick="loginout()">退出登录</a>
			</li>
		</ul>

	</div>

	<!-- 主体内容 -->
	<div class="layui-body" style="margin-right:200px;background-color:white;padding:10px 20px 10px 20px;">
		<div>

		<hr class="layui-bg-black" style="margin-top:30px;">
		<fieldset class="layui-elem-field layui-field-title">
			<legend id="newstitle">新闻标题</legend>
		</fieldset>
		<div class="layui-fluid">	
		    <div  style="padding-top:20px;width:100%;height:400px;text-align:center;">
 
                   <!-- <img id="news-img" width='80%' height='300px' style='margin:0 auto'>  -->  
            <div class="layui-carousel" id="test" lay-filter="test" style="margin:0 auto;">
				<div carousel-item="" id='lunbo'>
				</div>
			</div>       
             </div> 	
			<div  style="background:#FBF6F4; width:100%;border-radius: 25px;margin-top:20px;">
			<div  style="padding-top:20px;">          
                 <div id="contents" style="width:70%;margin:10px auto;text-align:left;font-size:16px;color:#393D49;line-height:40px;"> 
                 新闻内容 新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容
                 </div>
             </div>            
            <div style="height:30px;"></div>
            </div>
			</div>
			<fieldset class="layui-elem-field layui-field-title">
			<legend id="newsfoot" style="font-size:14px">xx社发表于</legend>
		</fieldset>
		    </div>	
		</div>
        </div>
</body>
<script>
 	

	layui.use(['laypage', 'layer','element','carousel','form','util'], function() {
		var laypage = layui.laypage,
			layer = layui.layer,
			element = layui.element,
			carousel = layui.carousel,
			form = layui.form
			,util=layui.util
			,$=layui.$;
		//固定块
		  util.fixbar({
		    bar1: '&#xe65c'
		    ,css: {right: 40, bottom: 30}
		    ,bgcolor: '#393D49'
		    ,click: function(type){
		      if(type === 'bar1'){
		    	  window.history.back(-1);
		      } 
		      if (type === 'top') {
	                layer.msg('返回顶部')
	          }
		    }
		  });
		//显示菜单栏用户信息
			$.ajax({
			    type: 'GET',
			    url: "login/getLoginUser",
			    success: function (data) { 
			    	if(data.type!="学生"){
			    		loginout();
			    	}
			    	$("#username").append(data.name);
			    	$("#userlogo").attr('src',data.user_logo);
			    }
			});
		//是否显示管理菜单
		$.ajax({
			    type: 'GET',
			    url: "login/president",
			    success: function (msg) { 
			        if(msg==0){
			        	$("#nav-manager").hide();
			        }
			        else{
			        	$("#nav-buildclub").hide();
			        }
			    }
			});
		//退出登录
		 loginout=function(){
			$.ajax({
 			    type: 'GET',
 			    url: "login/logout",
 			    success: function (msg) { 
 			        if(msg==1){
 			        	layer.msg('退出成功，正在跳转......', {icon: 6});
	                    setTimeout(function () {
	                        window.location.href = "stu-login";
	                    }, 2000);
 			        }
 			        else{
 			        	layer.msg('退出错误，请重试', {icon: 5});
 			        }
 			    }
 			});
		}
		//监听导航点击
		element.on('nav(demo)', function(elem) {
			//console.log(elem)
			layer.msg(elem.text());
		});
		//图片轮播
		var ins=carousel.render({
			elem: '#test',
			width: '80%',
			height: '400px',
			interval: 3000
		});
		var newsid = $.query.get("newsid");	//获取url路径中newsid的值
 		$.ajax({            //动态加载本页数据
			   type: 'GET',
			   url: "news/selectOne?newsid="+newsid,
			   async:false,
			   success: function (data) { 
				var src= data.news_img.substring(0, data.news_img.length - 1);
				var srcs = src.split(';');
				$.each(srcs, function(index, item){
					var img=$("<img width='100%' height='100%'>").attr('src',item);
					var imgitem=$("<div></div>").append(img);
					$("#lunbo").append(imgitem);
					ins.reload();
				})
				$("#news-img").attr("src",data.news_img);
			   	$("#newstitle").text(data.news_title);
			   	$("#contents").text(data.news_contents);

			   	if(data.cname!=null){         //如果是社团发起的活动则显示下面的部分
			   		$("#newsfoot").text(data.cname+"发表于"+data.news_time);
			   	}
			   	else{        //如果是社联发起的活动则显示下面这部分
			   		$("#newsfoot").text("社联管理员："+data.name+"发表于"+data.news_time);
			   	}
			   },
			}); 
		

	});
</script>