<link rel="stylesheet" href="vendor/layui/css/layui.css">
<script type="text/javascript" src="vendor/layui/layui.js"></script>
<script type="text/javascript" src="vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.params.js"></script>
<link rel="stylesheet" href="vendor/layui/css/stu-index.css">
<div id="reason" style="margin:15px 15px 15px 15px;line-height:25px;"></div>
<script>
layui.use(['laypage', 'layer', 'element', 'carousel', 'form', 'util'], function() {
	var laypage = layui.laypage,
		layer = layui.layer,
		element = layui.element,
		carousel = layui.carousel,
		form = layui.form,
		util = layui.util,
		$ = layui.$;
});
var uid=parent.uid;
var cid=parent.cid;
$.ajax({
	type: 'GET',
	url: "club/listReason?uid="+uid+"&cid="+cid,
	async:false,
	success: function(data) {
		$("#reason").text(data.reason);
	},
});
</script>